.hero {

  &__image {
    position: relative;
    background-image: url('/images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem; // 280/16

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 92%;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('/images/image-mockups.png');
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }

  &__text {
    text-align: center;

    h1 {
      font-weight: 300;
      font-size: 2.3125rem; // 37/16
      line-height: 1.15;
      color: $darkBlue;
      margin-bottom: 1.5rem; // 24/16
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }

    a {
      
    }
  }

}