.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url('/images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem; // 280/16

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url('/images/bg-intro-desktop.svg');
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url('/images/image-mockups.png');
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem; // 655/16
      background-image: url('/images/bg-intro-desktop.svg');
      background-position: left center;
    }
  }

  &__text {
    text-align: center;

    h1 {
      font-weight: 300;
      font-size: 2.3125rem; // 37/16
      line-height: 1.15;
      color: $darkBlue;
      margin-bottom: 1.5rem; // 24/16

      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }

}